<h1 class="index-font">Burgers!</h1>

<h2 class="index-font">Not yet devoured</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
    <li>
            {{ burger_name }}   
            <button type="button" class="devour-button" data-id="{{id}}">Devour!</button>
    </li><br>
        {{/unless}}
    {{/each}}
</ul>

<h2 class="index-font">Devoured!</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
    <li>
        {{burger_name}}
    </li>
        {{/if}}
    {{/each}}
</ul>

<h2 class="add-burger">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="nb">Enter Burger Here:</label>
    <input type="text" id="nb"/>
  </div>

  <button type="submit" class="submit-button">Add A Burger</button>
</form>
